<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">
    <header class="uh-topbar">
        <div class="uh-search">
            <input type="text" placeholder="Search" aria-label="Search" />
        </div>
        <div class="uh-actions">
            <div class="uh-avatar" id="uhAvatar" title="avatar">HP</div>
            <div class="uh-menu" id="uhMenu">
                <div class="uh-menu-header">
                    <div class="avatar">HP</div>
                    <div class="info">
                        <div class="name">Hạnh Phúc Trần Huy</div>
                        <div class="email">lamngocnhaky8@gmail.com</div>
                    </div>
                </div>
                <div class="uh-menu-group">
                    <a class="uh-menu-item" href="/profile"><span class="left"><span class="icon">👤</span> Profile</span></a>
                    <a class="uh-menu-item" href="#"><span class="left"><span class="icon">🎨</span> Theme</span><span class="right">›</span></a>
                </div>
                <div class="uh-menu-group">
                    <a class="uh-menu-item" href="/reset/change"><span class="left"><span class="icon">🔁</span> Change password</span></a>
                    <a class="uh-menu-item" href="#"><span class="left"><span class="icon">🚪</span> Log out</span></a>
                </div>
            </div>
        </div>
    </header>
</th:block>
</body>
</html>
