<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="tabs">
  <div class="pd-tabs">
    <a href="#" class="pd-tab" data-tab="summary">Summary</a>
    <a href="#" class="pd-tab" data-tab="timeline">Timeline</a>
    <a href="#" class="pd-tab is-active" data-tab="board">Board</a>
    <a href="#" class="pd-tab" data-tab="calendar">Calendar</a>
    <a href="#" class="pd-tab" data-tab="list">List</a>
    <a href="#" class="pd-tab" data-tab="team">Team</a>
    <a href="#" class="pd-tab" data-tab="goals">Goals</a>
    <a href="#" class="pd-tab" data-tab="resources">Resources</a>
    <a href="#" class="pd-tab">More</a>
    <button class="pd-tab-add"><i class="fas fa-plus"></i></button>
  </div>
</div>
</body>
</html>
