<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="tabs">
  <div class="pd-tabs">
    <a href="#" class="pd-tab" data-tab="summary">Summary</a>
    <a href="#" class="pd-tab" data-tab="timeline">Timeline</a>
    <a href="#" class="pd-tab is-active" data-tab="board">Board</a>
    <a href="#" class="pd-tab" data-tab="calendar">Calendar</a>
    <a href="#" class="pd-tab" data-tab="list">List</a>
    <a href="#" class="pd-tab">Forms</a>
    <a href="#" class="pd-tab">Goals</a>
    <a href="#" class="pd-tab">All work</a>
    <a href="#" class="pd-tab">More 5</a>
    <button class="pd-tab-add"><i class="fas fa-plus"></i></button>
  </div>
</div>
</body>
</html>
